body {
  font-family: "Nunito", sans-serif;
}

.navbar-brand {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.2rem;
}
.main-header {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.1rem;
}
.main-container {
  margin: 10px 80px;
}
.nav-link {
  color: #cccccc;
}
.product {
  width: 80%;
  margin: 20px 30px;
  border-radius: 20px;
}

.thumbnail {
  cursor: pointer;
  width: 80px;
  border-radius: 10px;
}
.thumbnail-row {
  margin-left: 10px;
}
.thumbnail-col {
  margin: 10px;
}
.company-name {
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #ff7600;
}
.product-details-container {
  padding: 50px 50px 50px 0px;
  text-align: left;
}
.description {
  color: #cccccc;
  line-height: 2;
}
.Price-header {
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
}
.discount {
  font-size: 1rem;
  margin: 10px;
  padding: 2px;
  background-color: #ff7600;
  border-radius: 2px;
}
.actual_price {
  color: #cccccc;
  font-size: 1.3rem;
  font-family: "Bebas Neue", cursive;
  text-decoration: line-through #cccccc 1.5px;
}

.Quantity {
  text-align: center;
  border-style: none;
  background-color: transparent;
  width: 50px;
}

.btn:hover {
  background-color: #f8f8f8;
}
.btn-submit {
  background-color: #ff7600;
  margin: 20px 0px;
  width: 90%;
}
.btn-color {
  color: #ff7600;
}
.fa-minus {
  background-color: transparent;
  border-style: none;
}
.fa-plus {
  background-color: transparent;
  border-style: none;
}
.counter {
  background-color: #f8f8f8;
  border-radius: 20px;
  padding: 10px;
}
.counter-details {
  margin-top: 30px;
}
.cart {
  margin: 10px;
}
.profie-img {
  width: 35px;
  height: 35px;
}
